<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>shuoshuo -- 首页</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/jumbotron.css" rel="stylesheet">
    <style>
        .error_tips{
            width: auto;
            color: red;
            border: none;
            background: none;
            position: static;
            padding: 15px;
        }
        .alert-danger{
            display: none;
        }
        .yemiantouxiang{
            width: 100px;
        }
    </style>
</head>

<body>
<% include header.ejs%>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <!--没登陆-->
        <%if(!login){%>
        <div class="row">
            <div class="col-lg-6">
                <p>欢迎访问说说</p>
                <p>访问前请注册</p>
                <p><a class="btn btn-primary btn-lg" href="/regist" role="button">注册</a></p>
            </div>
            <div class="col-lg-6">
                <p>已有帐号请登录</p>
                <form>
                    <div class="error_tips" id="error_tips">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" placeholder="用户名可以是中文，不能和别人重复">
                    </div>
                    <div class="form-group">

                        <input type="password" class="form-control" id="password" placeholder="密码">
                    </div>
                    <button type="button" class="btn btn-primary btn-lg" id="submit">登陆</button>
                </form>
            </div>
        </div>
        <!--已经登陆-->
        <%}else{%>
            <div class="row">
                <div class="col-lg-1">
                    <img src="avatar/<%=avatar%>" alt="" class="img-circle yemiantouxiang" >
                </div>
                <div class="col-lg-offset-2">
                    <%=username%>
                </div>
                <div class="col-lg-offset-2">
                    <textarea cols="80" rows="5" id="content"></textarea>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-6">
                    <button type="button" class="btn btn-primary btn-lg" id="fabiao">发表</button>
                </div>
            </div>
            <div class="row col-lg-offset-3 col-lg-4" >
                <div class="alert alert-danger" role="alert" id="alert-danger"></div>
            </div>
        <%}%>
    </div>
</div>

<%if(login){%>
    <div class="container">
        <nav aria-label="...">
            <ul class="pagination">

            </ul>
        </nav>
        <!-- Example row of columns -->
        <div class="row">
            <div id="allshuoshuo"></div>
        </div>

        <hr>

        <footer>
            <p>&copy; 2016 Company, Inc.</p>
        </footer>
    </div> <!-- /container -->
<%}%>
<script type="text/template" id="moban">
    <div class="col-sm-3">
        <h2><img src="/avatar/{{=avatar}}" alt="" class="img-circle yemiantouxiang" ></h2>
        <p>作者：{{=username}}</p>
        <p>发表时间：{{=datetime}}</p>
        <p>{{=content}}</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
</script>
<script type="text/template" id="moban_fenye">
    <li><a href="#">{{=page}}</a></li>
</script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/underscore_conflict.js"></script>
<script>
    if ("<%= login %>" == "true") {
        $.get("/getshuoshuoamount", function (result) {
            //每页多少条内容就除多少，两页就是4，
            var pageamount = Math.ceil(parseInt(result) / 4);
            var compiled = _.template($("#moban_fenye").html());
            for (var i = 0; i < pageamount; i++) {
                var htmlString = compiled({"page": i});
                $(".pagination").append($(htmlString));
                if (i == 0) {
                    //给第一条按钮高亮显示,先动态加载，再加class active
                    $(".pagination li").addClass("active");
                }
            }
            $(".pagination li").click(function () {
                console.log($(this).index());
                getPage($(this).index());
                //点选的按钮高亮显示，去除其它按钮高亮显示
                $(this).addClass("active").siblings().removeClass("active");
            })
        });
    }

    getPage(0);
    function getPage(page) {
        $("#allshuoshuo").html("");
        var compiled = _.template($("#moban").html());
        if ("<%= login %>" == "true") {
            $.get("/getallshuoshuo?page=" + page,
                function (shuoshuo) {
                    iterator(0);
                    function iterator(i) {
                        if (i == shuoshuo.length) {
                            return;
                        }
                        $.get("/getuserinfo?username=" + shuoshuo[i].username, function (userinfo) {
                            shuoshuo[i].avatar = userinfo.avatar;
                            console.log(shuoshuo[i]);
                            var htmlString = compiled(shuoshuo[i]);
                            $("#allshuoshuo").append($(htmlString));
                            iterator(i + 1);
                        });
                    }
                });
        }
    }

    $("#fabiao").click(function(){
        $.post("/post",{
            content:$("#content").val()
        },function(result){
            if(result == "1"){
                window.location = "/";
            }else if(result == "-2"){
                $("#alert-danger").html("服务器错误");
                $("#alert-danger").fadeIn();
            }
        })
    })
    $("input").focus(function(){
        $("#error_tips").html();
    });
    function denglu(){
        $.post("/dologin",{
            username:$("#username").val(),
            password:$("#password").val()
        },function(result){
            if(result == "1"){
                console.log("登陆成功");
                window.location = "/";
            }else if(result == "-1"){
                console.log("用户名不存在");
                $("#error_tips").html("用户名不存在");
            }else if(result == "-2"){
                console.log("密码错误");
                $("#error_tips").html("密码错误");
            }else if(result == "-3"){
                console.log("服务器错误");
                $("#error_tips").html("服务器错误");

            }
        })
    }
    $("#submit").click(denglu);
    $("#password").bind('keypress',function(event){
        if(event.keyCode == "13")
        {
            denglu();
        }
    });
</script>
</body>
</html>
